<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>This is second.html</h1>
    <ul>
        <li>
            {{person1.name}}
            {{person1.password}}
        </li>

        <li>
            {{person2.name}}
            {{person2.password}}
        </li>
        <li>
            {{person3.name}}
            {{person3.password}}
        </li>
        <li>
            <!-- {{person4.name}}
            {{person4.password}}

            {% if person4.password == '123457' %}
            <li>The password is correct User is Logged in</li>
            {% else %}
            <li>The Password is incorrect</li>
            {% endif %} -->
        </li>
    </li>
     
     <!-- {% if person1.name == 'Rahul' %}
     <li>Hello</li>
     {% elif person1.name == 'Irfan' %}
     <li>welcome</li>
     {% else %}
     <li>Goodbye</li>
     {% endif %} -->
     <!-- {% with var1=9 var2=2 %}
     {% if var1 > 10 %}
     <li>Greater  than 10</li>
     {% endif %}
     {% if var2 is 20 %}
     <li>less then</li>
     {% endif %}
     {% endwith %}   -->

       <li>
        
    </ul>
 

    <!-- {% for i in fruits reversed %}
    <h4>{{i}}</h4>
    {% endfor %} --> -->

    {% include 'nav.html'}

    <h2>This is second.html</h2>
</body>
</html>